<header id="header" class="alt">
    <div class="logo">
        <a href="{% url 'mainpage' %}">DISASTER MANAGEMENT</a>
    </div>
    <a href="#menu">Menu</a>
</header>

<nav id="menu">
    <ul class="links">
        <li><a href="{% url 'mainpage' %}">Home</a></li>
        <li><a href="https://www.accuweather.com/">Weather Report</a></li>
        <li><a href="https://www.theweathernetwork.com/maps/current-weather">Current News</a></li>
        <li><a href="{% url 'appmainpage' %}">Storm Sense</a></li>
    </ul>
</nav>
