{% load static %}
<!DOCTYPE HTML>

<html>

<head>
	<title>HURRICANE</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo">
			<a href="{% url 'mainpage' %}">DISASTER MANAGEMENT</a>
		</div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="{% url 'mainpage' %}">Home</a></li>
			<li><a href="https://www.accuweather.com/">Weather Report</a></li>
			<li><a href="https://www.theweathernetwork.com/maps/current-weather">Current News</a></li>
			<li><a href="{% url 'appmainpage' %}">Storm Sense</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<h2>HURRICANE PREPAREDNESS</h2>
			</header>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
					</header>

					<img src="{% static 'hurricane.jpg' %}" width="100%" height="20%">

					Hurricanes are massive storm systems that form over warm ocean waters and move toward land.
					Potential threats from hurricanes include powerful winds, heavy rainfall, storm surges, coastal and
					inland flooding, rip currents, tornadoes, and landslides. The Atlantic hurricane season runs from
					June 1 to November 30. The Pacific hurricane season runs May 15 to November 30. Hurricanes:

					Can happen along any U.S. coast or in any territory in the Atlantic or Pacific oceans.
					Can affect areas more than 100 miles inland.
					Are most active in September.

					<h3>IF YOU ARE UNDER A HURRICANE WARNING, FIND SAFE SHELTER RIGHT AWAY</h3>
					<ul>
						<li>Determine how best to protect yourself from high winds and flooding. Evacuate if told to do
							so.</li>
						<li>Take refuge in a designated storm shelter, or an interior room for high winds.</li>
						<li>Listen for emergency information and alerts.</li>
						<li>Only use generators outdoors and away from windows.</li>
						<li>Turn Around, Don’t Drown! Do not walk, swim, or drive through flood waters.</li>
					</ul>

					<h3>Prepare NOW</h3>
					<ul>
						<li>Know your area’s risk of hurricanes.</li>
						<li>Sign up for your community’s warning system.</li>
						<li>If you are at risk for flash flooding, watch for warning signs.</li>
						<li>Practice going to a safe shelter for high winds.</li>
						<li>Plan evacuation or sheltering in place.</li>
						<li>Become familiar with evacuation routes.</li>
						<li>Gather supplies for at least three days.</li>
						<li>Keep important documents safe.</li>
						<li>Protect your property.</li>
					</ul>

					<h3>When a hurricane is 36 hours from arriving</h3>
					<ul>
						<li>Turn on TV or radio for updates.</li>
						<li>Restock emergency supplies.</li>
						<li>Plan communication with family.</li>
						<li>Review evacuation plans.</li>
						<li>Fuel your vehicle.</li>
					</ul>

					<h3>Survive DURING</h3>
					<ul>
						<li>Evacuate if ordered.</li>
						<li>Stay in a safe shelter.</li>
						<li>Listen for official instructions.</li>
						<li>Use generators outdoors only.</li>
						<li>Avoid flood waters.</li>
					</ul>

					<h3>Be Safe AFTER</h3>
					<ul>
						<li>Listen to authorities.</li>
						<li>Wear protective clothing during cleanup.</li>
						<li>Avoid electrical hazards.</li>
						<li>Document damage.</li>
					</ul>

					Associated Content
					<ul>
						<li><a href="https://www.ready.gov/hurricane-toolkit">Hurricane Preparedness Toolkit</a></li>
						<li><a href="https://www.fema.gov/media-library/assets/documents/162046">Hurricane Information
								Sheet</a></li>
						<li><a href="http://www.hurricanes.gov/">National Hurricane Center</a></li>
					</ul>

					<iframe width="535" height="400" src="https://www.youtube.com/embed/zP4rgvu4xDE"
						title="Hurricanes 101 | National Geographic" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

					<iframe width="535" height="400" src="https://www.youtube.com/embed/aZE0TwoaHR8"
						title="&#39;Extremely dangerous&#39; Hurricane Willa hits Mexico" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

				</div>
			</div>
		</div>



	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="https://www.twitter.com/readygov" class="icon fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/readygov" class="icon fa-facebook"><span
							class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/fema" class="icon fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://www.linkedin.com/company/fema" class="icon fa-envelope-o"><span
							class="label">Email</span></a></li>
			</ul>
		</div>

		<div class="copyright">
			&copy; 2024 Natural Disaster Prediction Hub.<br>
			Powered by advanced AI and satellite monitoring systems.
			<p style="margin: 4px 0 16px 0; line-height: 1.5;">
				For emergency situations, always contact local authorities immediately 🚨
			</p>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'skel.min.js' %}"></script>
	<script src="{% static 'util.js' %}"></script>
	<script src="{% static 'main.js' %}"></script>

</body>

</html>